<h1>Home Page</h1>
    <p>Welcome to this web app!!!</p>
    <div class="form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            
                    <div class="form-group">
                        {{ form.hero_name.label }}
                        {{ form.hero_name }}
                        {% if form.hero_name.errors %}
                        <div class="error">
                                {% for error in form.hero_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <div class="form-group">
                    {{ form.heroclass.label }}
                    {{ form.heroclass }}
                    {% if form.heroclass.errors %}
                    <div class="error">
                            {% for error in form.heroclass.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% endif %}
            </div>
                </form>
                </div>
                